nav {
  border: 1px solid #f8f6f6;
  width: 30%;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  padding: 0.5rem 1rem; 
}
nav li:hover {
  background-color: #d5d5d3;
}
nav a {
  color: #c00af76c;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
nav a:focus {
  background-color: #F0C808;
  color: black;
}
nav a:hover {
  color: #790ec1c1;
}
 


img{
  width: auto; 
  height: auto;
  max-width: 100%; 
}

.card{
  background-color: #DFF0F9;
  border-radius: 0.1rem;
  border: 0.5px solid #808080;
  padding: 10px;
  
 }


.card__img{
  display: block;
  width: 100%;
  border: 1.5px solid black;
  padding: 5px;
}


.card__btn {
  display: block;
  width: 100%;
  padding: 1rem;
  
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: 	#32CD32;
  background-color: #D3D3D3;
  border: 1px solid #333;
  border-radius: 0.4rem;
  box-shadow:3px 3px 3px black;
  
}

.project-page{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
  
  section {
    text-align: center;
}
.Mysite{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 10px;

}
h2{
  text-align: center;
}
@media (min-width: 400px) {
  .project-page {
    grid-template-columns:1fr;
  }
  h2{
    color:#F0C808;
  }
}


  


  
   






  
  
  
  
  
  
  
  
  
  
  
  
 