body{
    background-color:#e5e6e8;
    
}
p{
  font-family: monospace;
  font-size: 20px;
  color:#605c06;
  
 
}
h1{
    color:#025625;
    font-family:Arial Rounded MT Bold;
    text-align: center;
}

